<div class='ng-modal' ng-show='modal.visible'>
  <div class='ng-modal-overlay'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>

    <h2>Please log in</h2>

      <form ng-submit="login()" role="form">
      <div class="form-group">
        <input class="form-control" type="text" ng-model="credentials.user" placeholder="username"/>
      </div>  
      <div class="form-group">
        <input class="form-control" ng-model="credentials.password" placeholder="password"/>
      </div>  
        <button class="btn btn-primary" ng-click="createBlog()">login</button>
        <button ng-click='hideModal()' class="btn btn-default">cancel</button>
      </form>

  </div>
</div>
